/* nav bar css */
.custom-navbar {
    background-color: lightblue;
}

.navbar-brand img {
    width: 150px;
    height: auto;
}

.navbar-nav .nav-item .nav-link {
    font-size: 18px;
}

nav a {
    margin: 0 8px;
    text-decoration: none;
    color: black;
}

/* donation info css */
.donationtype {
    font-weight: bold;
    font-size: 20px;
}

.donation-options {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.donation-button {
    padding: 10px 50px;
    font-size: 25px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.donation-button:hover {
    background-color: #007bff;
}

.donation-button.selected {
    background-color: #0056b3;
}

#amt {
    width: 30%;
    padding: 5px;
    margin: 1px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.confirm-otd-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

}

#confirm-otd {
    /*margin-top: 20px;*/
    padding: 15px 50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: lightblue;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;

}

#amt-monthly {
    width: 30%;
    padding: 5px;
    margin: 5px;
    margin-bottom: 30px;
    border-radius: 5px;
}

#confirm-monthly {
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 5px;
    background-color: lightblue;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

#donation-list {
    text-decoration: underline;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#popup-close {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: lightblue;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#popup-close:hover {
    background-color: #007bff;
    color: white;
}

#popup-monthly-close {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: lightblue;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#popup-monthly-close:hover {
    background-color: #007bff;
    color: white;
}

/* footer css */
.footer-custom {
    background-color: #1F262D;
}

.footer-custom p {
    margin: 0;
    color: white;
}

.footer-custom a {
    color: white;
}

.footer-custom a:hover {
    color: #e8ad28; /* hover effect */
}