/* nav bar css */
.custom-navbar {
    background-color: lightblue;
}

.navbar-brand img {
    width: 150px;
    height: auto;
}

.navbar-nav .nav-item .nav-link {
    font-size: 18px;
}

nav a {
    margin: 0 8px;
    text-decoration: none;
    color: black;
}

/* event info css */
.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.event-box {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(33% - 20px); /* Adjust width as needed */
    height: 250px; /* Fixed height for square shape */
    box-sizing: border-box;
}
.event-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}
.event-date, .event-time, .event-location {
    font-size: 0.9em;
    color: #777;
    text-align: center;
}
.event-description {
    margin-top: 10px;
    font-size: 1em;
    color: #555;
    text-align: center;
}
.sign-up-button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.sign-up-button:hover {
    background-color: #0056b3;
}

/* footer css */
.footer-custom {
    background-color: #1F262D;
}

.footer-custom p {
    margin: 0;
    color: white;
}

.footer-custom a {
    color: white;
}

.footer-custom a:hover {
    color: #e8ad28; /* hover effect */
}