/* nav bar css */
.custom-navbar {
    background-color: lightblue;
}

.navbar-brand img {
    width: 150px;
    height: auto;
}

.navbar-nav .nav-item .nav-link {
    font-size: 18px;
}

nav a {
    margin: 0 8px;
    text-decoration: none;
    color: black;
}

/* forum info css */
.container {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.post {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #1F262D;
    color: white;
    margin-top: 20px;
}
.form-container {
    background-color: #eee;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.form-container input[type="text"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container button {
    padding: 10px 20px;
    border: none;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #bbb;
}

/* footer css */
.footer-custom {
    background-color: #1F262D;
}

.footer-custom p {
    margin: 0;
    color: white;
}

.footer-custom a {
    color: white;
}

.footer-custom a:hover {
    color: #e8ad28; /* hover effect */
}