/* nav bar css */
.custom-navbar {
    background-color: lightblue;
}

.navbar-brand img {
    width: 150px;
    height: auto;
}

.navbar-nav .nav-item .nav-link {
    font-size: 18px;
}

nav a {
    margin: 0 8px;
    text-decoration: none;
    color: black;
}

/* forum info css */
.container {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.post {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* footer css */
.footer-custom {
    background-color: #1F262D;
}

.footer-custom p {
    margin: 0;
    color: white;
}

.footer-custom a {
    color: white;
}

.footer-custom a:hover {
    color: #e8ad28; /* hover effect */
}